header {
  position: absolute;
  width: 423px;
  height: 92px;
  left: 0;
  top: 0;
  background: #3c3a39;
  display: flex;
  align-items: center;
  text-align: center;
}

.name {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin-top: 45px;
  margin-left: 20px;
}

.navi {
  margin-left: 250px;
  margin-top: 45px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  background: #1c1a19;
  height: 590px;
  width: 375px;
  left: 0;
  top: 92px;
  position: absolute;
}

h1 {
  position: static;
  width: 327px;
  height: 124px;
  left: 24px;
  top: 120px;  /* font-family: 'Crete Round' Arial, Helvetica, sans-serif; */
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

h6 {
  position: static;
  width: 327px;
  height: 27px;
  left: 24px;
  top: 256px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

p {
  position: static;
  width: 327px;
  height: 123px;
  left: 24px;
  top: 295px;  /* font-family: "Poppins" Arial, Helvetica, sans-serif; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 0;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: static;
  width: 200px;
  height: 40px;
  left: 24px;
  top: 430px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 12px 0;
  list-style: none;
}

li {
  margin-left: 17px;
}

.illustraion {
  position: absolute;
  left: 80%;
  right: -30.09%;
  top: 50%;
  bottom: -11.63%;
  transform: matrix(-0.96, 0.27, 0.27, 0.96, 0, 0);
}
