
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins:wght@200&family=Roboto:ital,wght@0,100;1,100&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-image: url("images/Group.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 626px;
}

.navbar {
  background: #3c3a39;
  height: 92px;
  width: 375px;
}

.navbar .item-name {
  color: white;
  font-weight: bold;
  font-size: large;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 25px;
  padding-top: 40px;
  align-items: center;
  height: 100%;
}

.right-navigation {
  display: none;
}

main {
  background: black;
  width: 375px;
  height: 590px;
}

h1 {
  color: #c92f18;
  font-family: 'Crete Round', serif;
  width: 375px;
  letter-spacing: 0.37px;
  position: static;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  padding-top: 120px;
  padding-left: 24px;
}

h2 {
  color: #fff5e1;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-left: 24px;
}

.detail-1 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  margin-top: 10px;
  margin-right: 10px;
}

.section-header .container {
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
  margin-top: -176px;
}

.section-header .item {
  display: flex;
  margin: 15px;
}

.section-work {
  width: 375px;
}

.heading-work {
  width: 327px;
  height: 83px;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  font-family: 'Crete Round', sans-serif;
  margin-left: 24px;
  margin-top: 120px;
}

.border-line {
  position: static;
  width: 327px;
  top: 107px;
  border-top: 1px solid black;
  color: black;
  margin-left: 24px;
}

.container-work {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.image-work img {
  width: 327px;
  height: 237px;
  left: 24px;
  margin-left: 24px;
  margin-top: 104px;
}

.heading-post {
  width: 327px;
  height: 36px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  margin-left: 24px;
  margin-top: 24px;
}

.post-detail {
  width: 327px;
  height: 147px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: black;
  margin-left: 12px;
  margin-top: 20px;
}

.container-languages {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding: 10px;
  margin-left: 12px;
  margin-top: 20px;
}

div.item .langu {
  list-style: none;
  background: white;
  text-align: center;
  padding: 10px;
  color: black;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid #8993a4;
  box-sizing: border-box;
}

.see-project-button button {
  margin-top: 30px;
  margin-left: 25px;
  background: #c92f18;
  padding: 12px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  width: 150px;
  height: 50px;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-art-printing {
  width: 375px;
}

.main-art-printing {
  background-image: url("images/art-2-placeholder.png");
  background-repeat: no-repeat;
  width: 327px;
  height: 386px;
  margin-top: 24px;
  margin-left: 24px;
}

.heading4 {
  width: 295px;
  height: 81px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-left: 16px;
  color: white;
  padding-top: 84px;
}

.detail-2 {
  width: 295px;
  height: 87px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
  margin-top: 101px;
  margin-left: 16px;
  color: white;
}

.container-lang2 {
  display: flex;
  margin-top: 20px;
  font-weight: bold;
  color: white;
  list-style: none;
  margin-left: 16px;
  justify-content: space-around;
  margin-right: 75px;
}

.container-lang2 .item {
  padding: 12px;
  background: rgba(255, 255, 255, 0.24);
}

.art-button {
  color: white;
  margin-top: 12px;
  background: #c92f18;
  width: 327px;
  height: 48px;
  display: flex;
  justify-content: center;
}

.art-button button {
  padding: 12px;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  background: #c92f18;
  border: none;
}

.section-about {
  margin-top: 100px;
  width: 375px;
  height: 1850px;
  background-color: black;
}

.about {
  margin-top: 120px;
  margin-left: 24px;

  /* background: #f55800; */
  width: 327px;
  height: 79px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  padding-top: 120px;
}

.detail-3 {
  color: white;
  width: 327px;
  height: 148px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
  margin-top: 150px;
  margin-left: 23px;
  margin-right: 23px;
}

.about-button {
  margin-top: 12px;
  background: #c92f18;
  width: 161px;
  height: 48px;
  display: flex;
  justify-content: center;
  margin-left: 24px;
}

.about-button button {
  padding: 12px;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  background: #c92f18;
  border: none;
}

.image-about-design {
  background-image: url("images/about-Frame.png");
  background-repeat: no-repeat;
  width: 160px;
  height: 246px;
  margin-left: 215px;
}

.border-line-about {
  margin-top: 22px;
  position: static;
  width: 327px;
  top: 107px;
  border-top: 1px solid white;
  color: white;
  margin-left: 24px;
}

.frame-language {
  color: white;
  width: 164px;
  height: 24px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-left: 90px;
  display: flex;
  align-items: center;
  margin-top: 136px;
}

.icon-language {
  background-image: url("images/language-rectangle.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  padding-right: 33px;
}

.container-frame {
  text-align: center;
  height: 24px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  margin-top: 25px;
}

.frame-framework {
  color: white;
  width: 164px;
  height: 24px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-left: 70px;
  display: flex;
  align-items: center;
  margin-top: 200px;
}

.icon-framework {
  background-image: url("images/frame-square.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  padding-right: 33px;
}

.frame-skills {
  color: white;
  width: 164px;
  height: 24px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-left: 116px;
  display: flex;
  align-items: center;
  margin-top: 250px;
}

.icon-skills {
  background-image: url("images/skill-circle.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  padding-right: 33px;
}

/* Form Section  Css */

.form-section {
  background-color: white;
  width: 375px;
  height: 930px;
}

.form-headline {
  position: static;
  width: 327px;
  height: 216px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  margin-top: 24px;
  margin-left: 24px;
}

.user-name {
  margin-top: 73px;
  margin-left: 24px;
  border: none;
  border-bottom: 1px solid black;
  width: 327px;
  outline: none;
}

.user-email {
  margin-top: 39px;
  margin-left: 24px;
  border: none;
  border-bottom: 1px solid black;
  width: 327px;
  outline: none;
}

.msg-area {
  margin-left: 24px;
  margin-top: 24px;
  background: #fbf8f7;
  width: 327px;
  height: 114px;
  border: none;
  outline: none;
}

.form-button {
  margin-top: 24px;
  margin-left: 122px;
  padding: 12px;
  width: 131px;
  height: 48px;
  background: #c92f18;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: white;
}

.form-button:hover {
  background-color: black;
}

.footer-bottom-border {
  border-bottom: 2px solid #dfe1e6;
  margin-top: 124px;
}

.container-footer-nav {
  display: flex;
  margin-left: 99px;
  margin-right: 97px;
  margin-top: 25px;
  justify-content: space-around;
}

.item-footer {
  list-style: none;
}

.footer-bottom-end {
  border-bottom: 7px solid black;
  border-radius: 5px;
  margin-top: 23px;
  margin-bottom: 8px;
  position: absolute;
  width: 134px;
  height: 5px;
  margin-left: 120px;
}

/* Desktop Version Start */

@media screen and (min-width: 768px) {
  .navbar {
    background: #3c3a39;
    width: 100%;
    height: 92px;
  }

  section {
    overflow: hidden;
  }

  .item-name {
    margin-left: 70px;
  }

  .item-img {
    display: flex;
    margin-top: 26px;
    justify-content: space-between;
  }

  .three-line-icon {
    display: none;
  }

  div .right-navigation {
    display: flex;
    color: white;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 22px;
    justify-content: space-around;
    padding-left: 100px;
    font-size: large;
    font-weight: bold;
  }

  .right-item {
    padding: 10px;
    list-style: none;
  }

  main {
    background: black;
    width: 100%;
    height: 590px;
  }

  .section-header .container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 450px;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    position: absolute;
    width: 566px;
    height: 160px;
    left: 143px;
    top: 130px;
    right: 731px;
    bottom: 446px;
  }

  h2 {
    position: absolute;
    width: 566px;
    height: 24px;
    left: 143px;
    top: 400px;
    bottom: 398px;
    right: 731px;
  }

  .detail-1 {
    position: absolute;
    width: 566px;
    height: 123px;
    left: 143px;
    bottom: 251px;
    top: 450px;
    right: 731px;
  }

  header {
    background-image: url("images/header-design-pic.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 700px;
    width: 100%;
  }

  /* First page done */

  .heading-work {
    width: 327px;
    height: 83px;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    font-family: 'Crete Round', sans-serif;
    margin-left: 143px;
    margin-top: 120px;
    margin-bottom: -53px;
  }

  .border-line {
    position: static;
    width: 700px;
    border-top: 1px solid black;
    color: black;
    margin-left: 500px;
    left: 339px;
  }

  .section-work {
    background-color: white;
    width: 100%;
  }

  .image-work img {
    position: static;
    width: 600px;
    height: 448px;
    left: 24px;
    margin-left: 250px;
    margin-top: 114px;
  }

  .heading-post {
    position: absolute;
    margin-left: 880px;
    top: 920px;
  }

  .post-detail {
    position: absolute;
    margin-left: 439px;
    margin-top: 13px;
  }

  div.item.langu {
    position: absolute;
    margin-top: 262px;
    margin-left: 860px;
  }

  div.see-project-button {
    position: absolute;
    left: 858px;
    top: 1229px;
  }

  .art-work-six-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0;
    column-gap: 0;
    row-gap: 0;
    background-color: white;
    margin-left: 0;
    margin-right: 0;

    /* justify-items: stretch; */
    padding-left: 60px;
    padding-right: 60px;
  }

  .section-art-printing {
    padding: 60px;
  }

  section.section-about {
    width: 100%;
    margin-top: 0;
    height: 1100px;
  }

  div.item.about {
    margin-left: 142px;
    margin-top: 10px;
  }

  div.item.detail-3 {
    margin-left: 142px;
    margin-top: 110px;
    width: 566px;
    height: 148px;
  }

  body {
    background-color: black;
  }

  div.item.about-button {
    margin-left: 142px;
    margin-top: -10px;
  }

  .image-about-design {
    background-image: url(images/about-design-full.png);
    background-repeat: no-repeat;
    width: 600px;
    height: 352px;
    margin-top: -285px;
    position: absolute;
    left: 46%;
  }

  .border-line-about {
    margin-left: 142px;
    width: 1156px;
    margin-top: 150px;
  }

  .container-langu-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin-top: -118px;
  }

  .items-langu-frame {
    text-align: center;
  }

  .icon-language {
    margin-left: -41px;
  }

  .icon-framework {
    margin-left: -52px;
  }

  .icon-skills {
    margin-left: -42px;
  }

  div.form-section {
    width: 100%;
    height: 810px;
  }

  .form-headline {
    width: 320px;
    height: 256px;
    margin-left: 190px;
    margin-top: 50px;
    padding-top: 128px;
    text-align: left;
  }

  .form-sementic {
    position: relative;
    top: -197px;
    margin-left: 650px;
  }

  .user-name {
    width: 700px;
  }

  .user-email {
    width: 700px;
  }

  .msg-area {
    width: 700px;
  }

  .form-button {
    margin-left: 30px;
  }

  .footer-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 3s  linear 1s;
  }

  .footer-navigation:hover {
    background-color: #8993a4;
  }

  .item-footer {
    padding-left: 30px;
  }

  .footer-bottom-end {
    display: none;
  }
}
